@use "../../index.scss" as *;

.badge {
  font-weight: normal;
  font-size: var(--text-sm);
  padding: var(--spacing-1) var(--spacing-6);
  width: fit-content;
  text-transform: uppercase;
  background-color: var(--color-pill-gray-bg);
  color: var(--color-midnight);
  border-radius: var(--radius-md);
  text-align: center;
  box-sizing: border-box;
  letter-spacing: var(--spacing-0);

  &--off {
    background-color: var(--color-pill-orange-bg);
    color: var(--color-pill-orange-text);
  }

  &--on {
    background-color: var(--color-pill-green-bg);
    color: var(--color-pill-green-text);
  }

  &--impact {
    width: 100%;
    margin-top: auto;
    padding: var(--spacing-1) var(--spacing-4);

    @include md {
      width: auto;
      margin-top: 0;
    }
  }
}
