.insights-wrapper {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  gap: var(--spacing-4);
  overflow-x: scroll;
  padding: var(--spacing-2);
}

.insights-wrapper::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .insights-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: initial;
    grid-auto-columns: initial;
    overflow-x: visible;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .insights-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
